body, html {
  height: 100%;
}

.home-header {
  background-color: $deep;
  height: 100%;
  color: #fff;
  padding-top: $size;
}

.top-line {
  position: absolute;
  width: 100%;
  height: $size;
  top: 0;
  border-bottom: 1px solid rgba(#fff, $border-opacity);
  z-index: 10;
  background-color: $deep;
  display: flex;
  align-items: center;
}

.logo {
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .5em;
  text-decoration: none;
  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
  }

}

.logo__img-wrapper {
  height: $size;
  width: $size;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-button-container {
  flex: 0 0 200px;
  text-align: right;
  height: $size;
  position: relative;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3c3c3c;
  height: $size;
  width: $size;
  background-image: url('../../../images/dist/bars-solid.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background .25s ease-out;
  &:hover {
    background-color: $accent;
  }
}

.top-line__decoration {
  flex: 1 0 0;
  text-align: center;
  &:before {
    content: '';
    height: 1px;
    width: 50px;
    background-color: #fff;
    display: inline-block;
    opacity: $border-opacity*1.5;
    top: -5px;
    position: relative;
  }
}

.top-line__contacts {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: .4em;
  color: rgba(#fff, .5);
  display: flex;
  align-items: center;
}

.top-line__separator {
  height: 30px;
  width: 1px;
  background-color: rgba(#fff, $border-opacity*1.5);
  margin: 0 20px;
}

.top-line__numbers,
.top-line__text {
  font-family: roboto-vh, sans-serif;
  margin-left: 7px;
  a {
    color: $accent;
  }
}

.top-line__numbers {
  color: $accent;
}

.top-line__text {
  color: rgba(#fff, .75);
}

//ASIDE

.home-header__content {
  height: 100%;
}

.home-aside {
  background-color: $dark;
  width: $size;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: $size;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.home-aside__decoration {
  flex: 1 0 0;
  background-image: url('../../../images/dist/decoration.svg');
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.home-aside__soc {
  flex: 1 0 0;
}

.soc-item {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(#fff, $border-opacity);
  border-bottom: 1px solid transparent;
  margin-top: -1px;
  transition: background .5s ease-out;
  &:last-child {
    border-bottom: 1px solid rgba(#fff, $border-opacity);
  }
  img {
    height: auto;
    width: 15px;
    max-height: 15px;
    opacity: .3;
    transition: opacity .5s ease-out;
  }
  &:hover {
    background-color: $accent;
    img{
      opacity: 1;
    }
  }
}

.home-aside__share-icon {
  background-color: $accent;
  width: $size;
  flex: 0 0 $size;
  background-image: url('../../../images/dist/share-solid.svg');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
